<nav class="navigation container">
  <div class="nav-brand">amazon</div>
  <ul class="list-non-bullet nav-pills">
    <li class="list-item-inline">
      <a class="link link-active" href="/">HOME</a>
    </li>
    <li class="list-item-inline">
      <a class="link" href="/shop"
        >SHOP
        <i class="fa-solid fa-caret-down"></i>
      </a>
      <div class="dropdown">
        <ul>
          <li><a class="link" href="/shop/Electronics">ELECTRONICS</a></li>
          <li><a class="link" href="/shop/Toys">TOYS</a></li>
          <li><a class="link" href="/shop/Clothing">CLOTHING</a></li>
          <li><a class="link" href="/shop/Jewellery">JEWELLERY</a></li>
        </ul>
      </div>
    </li>
    <li class="list-item-inline">
      <a class="link" href="/cart">
        <i class="fa-solid fa-cart-shopping"></i>
      </a>
    </li>
    <li class="list-item-inline">
      <a class="link" href="/profile">
        <i class="fa-solid fa-user"></i>
      </a>
    </li>
  </ul>
</nav>
