<nav class="navigation container">
  <div class="nav-brand">AMAZON</div>
  <ul class="list-non-bullet nav-pills">
    <li class="list-item-inline">
      <a class="link link-active" href="/">Home</a>
    </li>
    <li class="list-item-inline">
      <a class="link" href="/shop">Shop</a>
    </li>
    <!--<li class="list-item-inline">
      <a class="link" href="#">Contact Us</a>
    </li>
    <li class="list-item-inline">
      <a class="link" href="#">
        <i class="fa-solid fa-magnifying-glass"></i>
      </a>
    </li>-->
    <li class="list-item-inline">
      <a class="link" href="/cart">
        <i class="fa-solid fa-cart-shopping"></i>
      </a>
    </li>
    <li class="list-item-inline">
      <a class="link" href="/profile">
        <i class="fa-solid fa-user"></i>
      </a>
    </li>
  </ul>
</nav>
