<nav class="navigation container">
  <div class="nav-brand">AMAZON</div>
  <ul class="list-non-bullet nav-pills">
    <li class="list-item-inline">
      <a class="link link-active" href="/">Home</a>
    </li>
    <li class="list-item-inline">
      <a class="link" href="/shop">Shop
        <i class="fa-solid fa-caret-down"></i>
      </a>
      <div class="dropdown">
        <ul>
          <li><a class="link" href="">Electronics</a></li>
          <li><a class="link" href="">Toys</a></li>
          <li><a class="link" href="">Clothing</a></li>
          <li><a class="link" href="">Jewellery</a></li>
        </ul>
      </div>
    </li>
    <li class="list-item-inline">
      <a class="link" href="/cart">
        <i class="fa-solid fa-cart-shopping"></i>
      </a>
    </li>
    <li class="list-item-inline">
      <a class="link" href="/profile">
        <i class="fa-solid fa-user"></i>
      </a>
    </li>
  </ul>
</nav>