<section class="section">
    <div class="container shop-section">
        <div class="box1 box">
            <h2>Electronics</h2>
            <div class="box-img" style="background-image: url('../images/box4_image.jpg');"></div>
            <p>See more</p>
        </div>
        <div class="box2 box">
            <h2>Clothing</h2>
        </div>
        <div class="box3 box">
            <h2>Automotive Parts & Accessories</h2>
        </div>
    </div>
</section>